.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--color-primary);
  color: #fff;
  padding: 5rem 3rem;
  height: 200px;
  border-radius: 50px 50px 0 0;
}

.header span {
  background: rgba(255, 255, 255, 0.25);
  padding: 1rem;
  border-radius: 20px;
}
