.container {
  background-color: var(--color-secondary);
  border-radius: 50px 50px 0 0;
  padding: 5rem 3rem;
  margin-top: -100px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container button {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.textWrapper :first-child {
  color: #fff;
  font-size: 2.5rem;
}
