.container {
  background-color: var(--color-secondary);
  border-radius: 50px 50px 0 0;
  padding: 2rem 3rem;
  margin-top: -100px;
  padding-bottom: 100px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 2rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.textWrapper :first-child {
  color: #fff;
  font-size: 2.5rem;
}

.imgContainer{
  width: 40%;
}

.imgContainer img{
  width: 100%;
}
